<div class="ssc">
    <h2>SSC</h2>
    <h3>school</h3>
    <p>Swami Ramanand Bharti Vidyamandir, Tasgaon</p>
    <P>Percentage - 89.60%</P>
</div>
<div class="dip">
    <h2>Diploma In Mechanical Engineering </h2>
    <h3>Collage</h3>
    <p>Padmabhooshan Vasantraodada Institute Of Technology,Budhgaon </p>
    <p>Percentage - 79.88</p>
</div>
<div class="degree">
    <h2>B-tech In Mechanical Engineering </h2>
    <h3>Collage</h3>
    <p>Padmabhooshan Vasantraodada Institute Of Technology,Budhgaon </p>
    <p>Percentage - 83.3</p>
</div>
