
<div class="top-container">
    
    <img class="myi" src="assets/images/onkar img-modified.png" >
    <h1>I'm Onkar.</h1>
    <h2>A <span class="pro">Pro</span>grammer.</h2>
    
    
</div>
<div class="abt">
    <div class="abt-row">
        
        <h3>Design & Development</h3>
        <p class="abt-description"> I have good knowledge of HTML-5 , CSS-3, JvaScript, Angular Framework. <br> Capable of
            Documentation and Deployment on live site.<br>Excellent self-starter & Quick learner
        of new concepts, and technology &open to any challenges at workplace. </p>
    </div>
   
</div>
