<div class="contact-me">
    <h2>Get In Touch</h2>
    <h3> -Email-</h3>
    <p class="contact-message">my contacts</p>
    <a class="btn" href="mailto:patilonkar200016@gmail.com">CONTACT ME</a>
</div>


<div class="bottom-container">
<a class="footer-link" href="https://www.linkedin.com/in/onkar-patil-89b953249/">LinkedIn</a>
<a class="footer-link" href="https://github.com/onkar5801">Github</a>
<a class="footer-link" href="https://www.hackerrank.com/dashboard">Hackerrank</a>
<p class="copyright">©Onkar Patil.</p>
</div>
