<div class="skills-card">
    <img class="skills-card-img" src="assets/images/HTML5_logo.png">
    <p class="skills-card-name">HTML</p>
  </div>
  <div class="skills-card">
    <img class="skills-card-img" src="assets/images/CSS3_logo.png">
    <p class="skills-card-name">CSS</p>
  </div>
  <div class="skills-card">
    <img class="skills-card-img" src="assets/images/js-logo.webp">
    <p class="skills-card-name">JAVASCRIPT</p>
  </div>
  <div class="skills-card">
    <img class="skills-card-img" src="assets/images/angular.png">
    <p class="skills-card-name">ANGULAR 13</p>
  </div>